<div class="comic">
  <div class="comic_title">
    Oops! It seems there is nothing available for now.
  </div>

  <div class="comic_image">
    <%= image_tag("oops.png") %>
  </div>

  <div class="comic_nav">
    <%= link_to "Check out the latest", root_path, class: "action link latest" %>
  </div>
</div>
