<div class="tag-cloud">
  <div class="title"><%= I18n.t("tags.title") %></div>
  <div class="tags">
    <% tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
      <%= link_to tag.name, tagged_path(tag.name), :class => "tag #{css_class}" %>
    <% end %>
  </div>
</div>
