html {
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  box-sizing: border-box;
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  main {
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .left-side {
      display: flex;
      flex-direction: column;
      width: 200px;
      border: 1px solid #3377FF;
      margin: 10px 0 10px 10px;
      overflow-y: scroll;
      overflow-x: hidden;

      .calendar {
        display: flex;
        flex-direction: column;
        padding: 0;
        box-sizing: border-box;
        border-bottom: 1px solid #3377FF;
        margin-bottom: 10px;

        .title {
          font-weight: 600;
          text-align: center;
          width: 100%;
          color: #3377FF;
          height: 30px;
          font-size: 22px;
          padding: 4px;
        }

        .years, .months, .comics {
          display: flex;
          flex-direction: column;
          margin-bottom: 4px;
          box-sizing: border-box;
          padding: 0;

          .year, .month, .comic {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            >div {
              margin-left: 5px;
            }

            a, a:link, a:active, a:visited {
              text-decoration: none;
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: space-between;
              color: #000000;
              border: 1px solid transparent;
              box-sizing: border-box;
              padding: 4px 10px;

              &.current {
                color: #FFFFFF;
                background-color: #3377FF;
                font-weight: 600;
                cursor: default;

                &:hover {
                  color: #FFFFFF;
                  background-color: #3377FF;
                }
              }

              &.single:hover {
                color: #3377FF;
                font-weight: 600;
              }
            }
          }

          .comic {
            padding: 0;

            a {
              .date {
                width: 20px;
                text-align: right;
                padding: 0;
              }

              .day {
                flex: 1;
                text-align: left;
                padding: 0 0 0 10px;
              }
            }
          }
        }
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      background-color: #eee;
      margin: 10px;
      border: 1px solid #37F;

      .comic {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .comic-header {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          width: 100%;
          background-color: #FFF;
          border-bottom: 1px solid #37F;
          margin-bottom: 0;

          .comic-date {
            text-align: center;
            height: 24px;
            line-height: 20px;
            font-size: 12px;
            width: 100%;
          }

          .comic-title {
            text-align: center;
            height: 40px;
            line-height: 38px;
            font-size: 20px;
            width: 100%;          }
        }

        .comic-image {
          flex-grow: 1;
          margin: 10px auto;

          img {
            display: block;
            max-height: 600px;
            max-width: 100%;
            margin: 10px auto;
          }


        }
      }

      .comic-description {
        box-sizing: border-box;
        width: 100%;
        padding: 20px 0;
        font-style: italic;
        text-align: center;
        background-color: #DEF;
      }

      .comic-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #37F;

        >.spacer {
          flex: 1;
        }

        >.action {
          padding: 0 10px;
          height: 40px;
          line-height: 38px;
          display: inline-block;
          text-decoration: none;
          color: #000;
          border: 1px solid transparent;
          min-width: 200px;
          text-align: center;
          box-sizing: border-box;

          &.no_link {
            cursor: default;
            color: #bbf;
          }
          &.first::before { margin-right: 10px; content: '\21E4  '; }
          &.previous::before { margin-right: 10px;content: '\2190  '; }
          &.next::after { margin-left: 10px;content: '  \2192'; }
          &.latest::after { margin-left: 10px;content: '  \21E5'; }
        }

        a, a:link, a:visited, a:active {
          cursor: pointer;

          &:hover {
            background-color: #37F;
            color: #FFF;
          }
        }
      }

      .overview {
        width: 90%;
        min-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        border: 1px solid #3377FF;
        box-sizing: border-box;
        background-color: #FFFFFF;

        .comics {
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 0;

          .comic {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .link {
              display: inline-block;
              flex: 1;
              box-sizing: border-box;
              flex-direction: row;
              margin: 0;
              padding: 4px 10px;
              min-width: 600px;
              border: 0;
              height: 32px;
              line-height: 24px;
              color: #000000;
              background-color: #FFFFFF;
              text-decoration: none;

              &:hover {
                background-color: #3377FF;
                color: #FFFFFF;
              }

              .date {
                display: inline-block;
                width: 36px;
                padding: 0 4px;
                text-align: right;
              }

              .day {
                display: inline-block;
                width: 130px;
              }

              .title {
                display: inline-block;
                min-width: 130px;
                flex: 1;
              }
            }
          }
        }
      }
    }

    .right-side {
      display: flex;
      flex-direction: column;
      width: 200px;
      border: 1px solid #ccc;
      margin: 10px 10px 10px 0;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #d4d4d4;
    background-color: #f9f9f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    nav {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;

      >a {
        padding: 0 25px;
      }

      >div, >a {
        display: inline-block;
        margin: 0 10px;
        color: #000000;
        text-decoration: none;
        text-shadow: 0 1px 0 white;
        box-sizing: border-box;

        &.spacer {
          flex: 1;
          min-width: 150px;
        }

        &.right {
          align-self: flex-end;
          margin-left: auto;
        }

        /* dropdown */
        &.dropdown {
          position: relative;
          display: inline-block;
          width: 200px;
          box-sizing: border-box;

          &:hover .dropdown-content {
            display: block;
          }
          &:hover .dropdown-button {
            background-color: #468847;
            color: #FFFFFF;
          }

          .dropdown-button {
            box-sizing: border-box;
            font-size: 16px;
            border: none;
            text-align: center;

            i {
              margin-right: 10px;
            }
          }

          .dropdown-content {
            display: none;
            box-sizing: border-box;
            position: absolute;
            background-color: #f1f1f1;
            width: 100%;
            z-index: 1;

            button, a {
              box-sizing: border-box;
              width: 100%;
              text-align: left;
              border: 0;
              text-decoration: none;
              color: #000000;
              font-size: 16px;
              line-height: 32px;
              padding: 5px 10px;
              display: block;
              cursor: pointer;
              height: 48px;

              &:hover {
                background-color: #ddd;
              }
            }
          }
        }
      }

      a:hover {
        background-color: #ccc;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #d4d4d4;
  }
}

.error-explanation {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #730E15;

  .title {
    text-align: center;
    height: 40px;
    line-height: 38px;
    font-size: 20px;
    width: 100%;
  }

  .errors {
    display: flex;
    flex-direction: column;
    width: 100%;

    .error {
      color: #730E15;
    }
  }
}

.danger {
  color: #730E15 !important;

  &:hover {
    color: #FFFFFF !important;
    background-color: #730E15 !important;
  }
}

.fill {
  margin: 10px;
  border-bottom: 1px solid #777777;
}
.spacer {
  margin: 10px;
  border-bottom: 1px solid transparent;
}

/*
  Flash messages
*/
.flash {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 40px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0;
}

.flash_notice,
.flash_alert {
  padding: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid #730E15;
  height: 36px;
  line-height: 16px;
  width: 100%;
  box-sizing: border-box;
}

.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.flash_alert {
  background-color: #f2dede;
  border-color: #730E15;
  color: #730E15;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
