.form-outer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    .form-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1;

      .form-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 0 10px;

        .image-new {
          display: flex;
          flex-direction: column;
          height: 30px;
          box-sizing: border-box;
        }

        .image-preview {
          display: flex;
          flex-direction: column;
          height: 200px;
          width: 200px;
          box-sizing: border-box;
          cursor: pointer;
        }

        .image-preview, .image-new {
          .image-link {
            padding: 10px;
            width: 200px;
            text-align: center;
            box-sizing: border-box;

            &:hover {
              background-color: #730E15;
              color: #FFFFFF;
            }
          }
        }

        .form-hidden {
          display: none;
        }

        .form-label {
          height: 42px;
          line-height: 42px;
          width: 30%;
          max-width: 220px;
          margin-right: 10px;
          box-sizing: border-box;
          align-self: flex-start;
        }

        .form-input {
          flex: 1;

          .form-input-icon {
            border: 0;
            padding: 0;
          }

          input, textarea {
            width: 100%;
            height: 36px;
            border: 1px solid #777777;
            border-radius: 0;
            box-sizing: border-box;
            padding: 10px;

            &.form-date {
              cursor: pointer;
            }
            
            &.form-file {
              cursor: pointer;
            }
          }

          input[type=checkbox] {
            height: 20px;
            width: auto;
          }

          textarea {
            height: 120px;
          }

          &.tag-cloud {
            display: flex;
            flex-direction: column;

            .tag-new {
              max-width: 200px;
            }

            .tags {
              margin-bottom: 10px;

              .tag {
                display: flex;
                padding: 5px 10px;
                flex-direction: row;
                height: 18px;
                line-height: 16px;
                color: #000000;
                border-radius: 5px;

                i {
                  visibility: hidden;
                  margin-left: 10px;

                  &.closeable {
                    cursor: pointer;
                    justify-content: space-between;
                  }
                }

                &:hover {
                  background-color: #730E15;
                  color: #FFFFFF;

                  i {
                    visibility: visible;
                    color: #FFFFFF;
                  }
                }

              }
            }
          }
        }
      }
    }

    .form-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      height: 40px;
      line-height: 38px;

      > .spacer {
        flex: 1;
      }

      > .action {
        display: inline-block;
        height: 100%;
        text-decoration: none;
        color: #000;
        border: 0;
        min-width: 200px;
        text-align: center;
        box-sizing: border-box;

        button, a, a:link, a:visited, a:active {
          display: inline-block;
          cursor: pointer;
          box-sizing: border-box;
          height: 100%;
          width: 100%;
          text-decoration: none;
          border: 0;
          color: #000000;
        }

        a:hover {
          background-color: #3377FF;
          color: #FFF;
        }

        button {
          color: #468847;

          &.danger {
            color: #730E15;

            &:hover {
              background-color: #730E15;
              color: #FFFFFF;
            }
          }

          &:hover {
            background-color: #468847;
            color: #FFF;
          }
        }

        &.form-cancel {
          a {
            color: #3377FF;

            &:hover {
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}
