<%# add navigation links to this file %>
<div><%= link_to "Archive", root_path %></div>
<div><%= link_to "Shop", root_path %></div>
<div><%= link_to "About", root_path %></div>
<div class="right"><%= link_to "User", root_path %></div>